[submodule "vim/configs/vim/bundle/acp.vim"]
	path = vim/configs/vim/bundle/acp.vim
	url = git@github.com:vim-scripts/AutoComplPop.git
[submodule "vim/configs/vim/bundle/l9.vim"]
	path = vim/configs/vim/bundle/l9.vim
	url = git@github.com:vim-scripts/L9.git
[submodule "vim/configs/vim/bundle/nerdtree"]
	path = vim/configs/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/configs/vim/bundle/php.vim"]
	path = vim/configs/vim/bundle/php.vim
	url = git@github.com:StanAngeloff/php.vim.git
[submodule "vim/configs/vim/bundle/syntastic"]
	path = vim/configs/vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/configs/vim/bundle/vim-airline.vim"]
	path = vim/configs/vim/bundle/vim-airline.vim
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/configs/vim/bundle/vim-airline-themes.vim"]
	path = vim/configs/vim/bundle/vim-airline-themes.vim
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/configs/vim/bundle/vim-nerdtree-tabs"]
	path = vim/configs/vim/bundle/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "vim/configs/vim/bundle/vimproc.vim"]
	path = vim/configs/vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
